<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Cheers</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>

<header>
	<h1><%= title %></h1>  
</header>

<nav>
	<span>
		<a title="homepage" href="/"><i class="fas fa-home"></i></a>
	</span>
	<span>
		<a title="archive" href="/archive"><i class="far fa-folder-open"></i></a>
	</span>
	<span>
		<a title="tags" href="/tags"><i class="fas fa-hashtag"></i></a>
	</span>
	<% if (user) { %>
		<span>
			<form action="/search" method="GET">
				<i class="fas fa-search-plus"></i> <input type="text" name="keyword" placeholder="keyword" class="search" />
			</form>
		</span>
		<span>
				<a title="Link" href="/links"><i class="fas fa-link"></i></a>
		</span>
		<span>
			<a title="post" href="/post"><i class="fas fa-pen-square"></i></a>
		</span>
		<span>
			<a title="upload" href="/upload"><i class="fas fa-cloud-upload-alt"></i></a>
		</span>
		<span>
			<a title="logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
		</span>
	<% } else { %>
		<span>
			<a title="login" href="/login"><i class="fas fa-sign-in-alt"></i></a>
		</span>
		<span>
			<a title="register" href="/reg"><i class="fas fa-user-plus"></i></a>
		</span>
	<% } %>
</nav>

<article>
<% if (success) { %>
	<div><i class="far fa-check-circle"></i> <%= success %></div>
<% } %>

<% if (error) { %>
	<div><i class="fas fa-bug"></i> <%= error %></div>
<% } %>