<%- include header %>

<ul style="list-style:none">
	<!-- Facebook, Twitter, LinkedIn, ... -->
	<li><h1><a href="https://github.com/tklk"><i class="fab fa-github"></i></a></h1></li>
	<li><h1><a href="https://www.linkedin.com/in/tingkailiu/"><i class="fab fa-linkedin"></i></h1></li>
</ul>

<%- include footer %>