<br />
<div>
	<% if (!isFirstPage) { %>
    	<span class="prepage">
    		<a title="Previous" href="?p=<%= page-1 %>"><i class="fas fa-chevron-circle-left"> Previous page</i></a>
    	</span>
  	<% } %>

  	<% if (!isLastPage) { %>
    	<span class="nextpage">
    		<a title="Next" href="?p=<%= page+1 %>"><i class="fas fa-chevron-circle-right"> Next page</i></a>
    	</span>
  	<% } %>
</div>