<%- include header %>

<form method="post">
	<i class="far fa-star"></i> Subject:
		<br />
		<input type="text" name="title" required/>
		<br />
		<br />
  	<i class="fas fa-marker"></i> Content: 
  		<br />
  		<textarea name="post" rows="20" cols="100" required></textarea>
  		<br />
  		<br />  			
  	<i class="fas fa-hashtag"></i> Tag:
  		<br />
		<input type="text" name="tag1" />
		<input type="text" name="tag2" />
		<input type="text" name="tag3" />
		<br />
		<br />
	<input type="submit" value="Post" />
</form>

<%- include footer %>