<%- include header %>

<form method="post">
	<i class="far fa-smile-wink"></i> Username : <input type="text" name="name"/><br />
	<i class="fas fa-key"></i> Password : <input type="password" name="password"/><br />
	<i class="fas fa-key"></i> Confirm password: <input type="password" name="password-repeat"/><br />
	<i class="fas fa-dove"></i> Email : <input type="email" name="email"/><br />
	<input type="submit" value="Sign up"/>
</form>

<%- include footer %>