<%- include header %>

<form method="post">
	<i class="fas fa-user-secret"></i> Current password : <input type="password" name="pwd-old" required/><br />
	<i class="fas fa-key"></i> New password : <input type="password" name="pwd-new" required/><br />
	<i class="fas fa-key"></i> Confirm password: <input type="password" name="pwd-repeat" required/><br /><br />
	<input type="submit" value="Change"/>
</form>

<%- include footer %>